@model MVCCore.Models.AddressPage

@{
    ViewData["Title"] = "ThankYou";
    var listOfItems = ViewBag.ItemsList;
}

<h1>ThankYou</h1>

<div>
    <h4>AddressPage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PINCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PINCode)
        </dd>
    </dl>
</div>

<h1>List of  Purchased Items</h1>


<table class="table ">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                cost
            </th>

            <th>Prodct Image</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listOfItems)
        {
            var itemImage = item.Name + ".jpeg";
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    <img src="~/images/@itemImage" />
                </td>
                
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="ListOfItems">Back to Home Page</a>
</div>